* {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?h72fj4');
    src: url('fonts/icomoon.eot?h72fj4#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?h72fj4') format('truetype'),
        url('fonts/icomoon.woff?h72fj4') format('woff'),
        url('fonts/icomoon.svg?h72fj4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.shortcut {
    height: 30px;
}

header {
    height: 105px;
}

nav {
    height: 515px;
}

.littlenav {
    height: 58px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 5px;
    box-sizing: border-box;
}

.littlenav span {
    float: left;
    padding-top: 30px;
    padding-left: 0;
    margin-left: 0;
    font-size: 18px;
    color: #d77277;
    font-weight: 500;
}

.littlenav ul {
    float: right;
    list-style: none;
}

.littlenav ul li {
    float: left;
    border-right: 1px solid #999999;
    height: 12px;
    /* width: 79px; */
    padding: 0 15px;
    box-sizing: border-box;
    margin-top: 37px;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
}

.littlenav ul li a {
    text-decoration: none;
    color: #999999;
}

.littlenav ul li:first-child a {
    color: #c81623;
}

.shoppingbox {
    width: 1200px;
    height: 365px;
    margin: 0 auto;
    box-sizing: border-box;
    border-top: 2px solid #c81623;
}

.shoppingbox .ul1 {
    list-style: none;
    float: left;
}

.shoppingbox .ul1 li {
    /* float: left; */
    box-sizing: border-box;
    border: 1px solid #ededed;
    transition: all 0.5s;
}

.shoppingbox .ul1 li:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.shoppingbox .ul1 li:first-child {
    width: 210px;
    height: 365px;
    float: left;
    box-sizing: border-box;
}

.shoppingbox .ul1 li:nth-child(2) {
    width: 330px;
    height: 365px;
    float: left;
    box-sizing: border-box;
}

.shoppingbox .ul1 li:nth-child(3) {
    width: 220px;
    height: 182.5px;
    float: left;
    box-sizing: border-box;
}

.shoppingbox .ul1 li:nth-child(4) {
    width: 220px;
    height: 182.5px;
    float: left;
    box-sizing: border-box;
}

.shoppingboxleft {
    width: 760px;
    height: 365px;
    float: left;
}

.shoppingbox .ul1 li:first-child a {
    float: left;
    width: 86px;
    height: 33px;
    border-bottom: 1px solid #ededed;
    color: #666666;
    margin-left: 12px;
    text-align: center;
    line-height: 33px;
    text-decoration: none;
}

.shoppingbox .ul2 {
    list-style: none;
}

.shoppingbox .ul2 li {
    box-sizing: border-box;
    border: 1px solid #ededed;
    transition: all 0.5s;
}

.shoppingbox .ul2 li:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.shoppingbox .ul2 li:first-child {
    width: 220px;
    height: 365px;
    float: left;
    padding: 70px 20px 0 20px;
}

.shoppingbox .ul2 li:nth-child(2) {
    width: 220px;
    height: 182.5px;
    float: left;
}

.shoppingbox .ul2 li:nth-child(3) {
    width: 220px;
    height: 182.5px;
    float: left;
}

.clearfix::after {
    content: '';
    height: 0;
    clear: both;
    visibility: hidden;
    display: block;
}

.logo a {
    display: block;
    width: 171px;
    height: 61px;
}

.changjialogo {
    height: 65px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    /* position: relative; */
}

.changjialogo ul {
    list-style: none;
    float: left;
}

.changjialogo ul li {
    height: 65px;
    overflow: hidden;
    width: 120px;
    border: 0 1px dashed #999999;
    position: relative;
    float: left;
    transition: all 0.5s;
}

.changjialogo ul li:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}