.nav {
    width: 1200px;
    height: 45px;
    margin: 0 auto;
    margin-top: 14px;
}

.nav a {
    text-decoration: none;
    color: #666666;
}

.nav span {
    width: 130px;
    height: inherit;
    padding: 0 30px;
    line-height: 45px;
    float: left;
    font-size: 16px;
    font-weight: 700;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    height: inherit;
    padding: 0 20px;
    float: left;
    text-align: center;
    line-height: 45px;
    font-size: 14px;
}

.list_title {
    height: 125px;
    width: 1200px;
    margin: 0 auto;
    background: url(../image/list-背景.png) no-repeat center;
    text-align: center;
    position: relative;
}

.list_title h4 {
    font-size: 24px;
    color: #c81523;
    top: 37px;
    height: 25px;
    position: absolute;
    left: 600px;
}

.list_title p {
    font-size: 16px;
    top: 85px;
    height: 16px;
    position: absolute;
    left: 492px;
}

.mainlist {
    width: 1200px;
    margin: 0 auto;
}

.mainlist ul {
    list-style: none;
    margin-top: 25px;
    float: left;
}

.mainlist ul li {
    width: 290px;
    height: 460px;
    float: left;
    margin-left: 13px;
    border: 1px solid #ededed;
    position: relative;
    overflow: hidden;
}

.mainlist ul li:nth-child(4n+1) {
    margin-left: 0;
}

.clearfix::after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.mainlist ul li .mainlist_top {
    height: 410px;
    width: inherit;
}

.mainlist ul li .mainlist_top p {
    color: #a3a3a3;
    font-size: 14px;
    position: absolute;
    top: 300px;
    left: 13px;
}

.mainlist ul li .mainlist_top img {
    position: absolute;
    top: 20px;
    left: 15px;
}

.mainlist ul li .mainlist_down {
    height: 50px;
    width: inherit;
}

.mainlist ul li .mainlist_down button {
    background-color: #c81523;
    border: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}

.mainlist ul li:hover {
    border: 1px solid #c81523;
}