.nav {
    width: 1200px;
    height: 45px;
    margin: 0 auto;
    margin-top: 14px;
}

.nav a {
    text-decoration: none;
    color: #666666;
}

.nav span {
    width: 130px;
    height: inherit;
    padding: 0 30px;
    line-height: 45px;
    float: left;
    font-size: 16px;
    font-weight: 700;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    height: inherit;
    padding: 0 20px;
    float: left;
    text-align: center;
    line-height: 45px;
    font-size: 14px;
}

.list_title {
    height: 125px;
    width: 1200px;
    margin: 0 auto;
    background: url(../image/list-背景.png) no-repeat center;
    text-align: center;
    position: relative;
}

.list_title h4 {
    font-size: 24px;
    color: #c81523;
    top: 37px;
    height: 25px;
    position: absolute;
    left: 576px
}

.list_title p {
    font-size: 16px;
    top: 85px;
    height: 16px;
    position: absolute;
    left: 492px;
}

.mainList {
    width: 80%;
    margin: 0 auto;
}

.mainList ul {
    list-style: none;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    /* float: left; */
}

.mainList ul li {
    flex-basis: 290px;
    height: 460px;
    /* float: left; */
    /* margin-left: 13px; */
    border: 1px solid #ededed;
    position: relative;
    overflow: hidden;
}

/* .mainList ul li:nth-child(4n+1) {
    margin-left: 0;
} */

/* .clearfix::after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
} */

.mainList ul li .mainList_top {
    height: 410px;
    width: inherit;
}

.mainList ul li .mainList_top p {
    color: #a3a3a3;
    font-size: 14px;
    position: absolute;
    top: 300px;
    left: 13px;
}

.mainList ul li .mainList_top img {
    position: absolute;
    top: 20px;
    left: 15px;
}

.mainList ul li .mainList_top .icon {
    color: #e60012;
    font-size: 14px;
    position: absolute;
    top: 348px;
    left: 15px;
    font-weight: 700;
}

.mainList ul li .mainList_top .nowPrice {
    color: #e60012;
    font-size: 22px;
    position: absolute;
    top: 340px;
    left: 25px;
    font-weight: 700;
}

.mainList ul li .mainList_top .pastPrice {
    color: #d8d8d8;
    font-size: 14px;
    text-decoration: line-through;
    position: absolute;
    top: 348px;
    left: 85px;
}

.mainList ul li .mainList_down {
    height: 50px;
    width: inherit;
}

.mainList ul li .mainList_down button {
    background-color: #c81523;
    border: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}

.mainList ul li:hover {
    border: 1px solid #c81523;
}

.mainList ul li .mainList_top .bar {
    width: 130px;
    height: 12px;
    position: absolute;
    top: 385px;
    left: 75px;
    border: 1px solid #c81523;
    border-radius: 6px;
}

.mainList .bar_in {
    height: 100%;
    width: 50%;
    padding: 1px;
    background-color: #c81523;
    transition: all 0.5s;
}

.mainList .bar:hover .bar_in {
    width: 100%;
}